@import url(normalize.css);

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: rgb(243, 243, 243);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: rgb(49, 49, 49);
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

#app {
	flex: 1;
	display: flex;
	flex-direction: column;
}

@import url(loading.css);